<%- include("partials/header") %>

<link
  rel="stylesheet"
  href="https://allyoucan.cloud/cdn/icofont/1.0.1/icofont.css"
  integrity="sha384-jbCTJB16Q17718YM9U22iJkhuGbS0Gd2LjaWb4YJEZToOPmnKDjySVa323U+W7Fv"
  crossorigin="anonymous"
/>
<div class="container review">
  <div class="col-md-12">
    <div class="offer-dedicated-body-left">
      <div class="tab-content" id="pills-tabContent">
        <div
          class="tab-pane fade active show"
          id="pills-reviews"
          role="tabpanel"
          aria-labelledby="pills-reviews-tab"
        >
          <div
            id="ratings-and-reviews"
            class="bg-white rounded shadow-sm p-4 mb-4 clearfix restaurant-detailed-star-rating"
          >
            <span class="star-rating float-right">
              <a href="#"
                ><i class="icofont-ui-rating icofont-2x active"></i
              ></a>
              <a href="#"
                ><i class="icofont-ui-rating icofont-2x active"></i
              ></a>
              <a href="#"
                ><i class="icofont-ui-rating icofont-2x active"></i
              ></a>
              <a href="#"
                ><i class="icofont-ui-rating icofont-2x active"></i
              ></a>
              <a href="#"><i class="icofont-ui-rating icofont-2x"></i></a>
            </span>
            <h5 class="mb-0 pt-1">Rate this Place</h5>
          </div>
          <div
            class="bg-white rounded shadow-sm p-4 mb-4 clearfix graph-star-rating"
          >
            <h5 class="mb-0 mb-4">Ratings and Reviews</h5>
            <div class="charts col-lg-7">
              <div class="chart">
                <canvas id="bar" class=""></canvas>
              </div>
              <div class="chart">
                <canvas id="pie" class=""></canvas>
              </div>
            </div>
            
            <!-- <div class="graph-star-rating-footer text-center mt-3 mb-3">
              <button type="button" class="btn btn-outline-primary btn-sm">
                Rate and Review
              </button>
            </div> -->
          </div>
          <div
            class="bg-white rounded shadow-sm p-4 mb-4 restaurant-detailed-ratings-and-reviews"
          >
            <a href="#" class="btn btn-outline-primary btn-sm float-right"
              >Top Rated</a
            >
            <h5 class="mb-1">All Ratings and Reviews</h5>
            <% review.forEach(r => { %>
              
              <div class="reviews-members pt-4 pb-4">
                <div class="media">
                  <a href="#"
                    ><img
                      alt="Generic placeholder image"
                      src="http://bootdey.com/img/Content/avatar/avatar1.png"
                      class="mr-3 rounded-pill"
                  /></a>
                  <div class="media-body">
                    <div class="reviews-members-header">
                      <span class="star-rating float-right">
                        <% for(let i =0;i<r.ratings;i++){ %>
                          <a href="#"><i class="icofont-ui-rating active">⭐</i></a>

                          <% } %>
                        <a href="#"><i class="icofont-ui-rating active"></i></a>
                        <a href="#"><i class="icofont-ui-rating active"></i></a>
                        <a href="#"><i class="icofont-ui-rating"></i></a>
                      </span>
                      <h6 class="mb-1">
                        <a class="text-black" href="#"><%= r.userId.username %></a>
                      </h6>
                      <p class="text-gray"><%= r.createdAt.toLocaleString() %></p>
                    </div>
                    <div class="reviews-members-body">
                      <p>
                        <%= r.reviews %>
                      </p>
                    </div>
                    <div class="reviews-members-footer">
                      <a class="total-like" href="#"
                        ><i class="icofont-thumbs-up"></i> 856M</a
                      >
                      <a class="total-like" href="#"
                        ><i class="icofont-thumbs-down"></i> 158K</a
                      >
                      <span class="total-like-user-main ml-2" dir="rtl">
                        <a
                          data-toggle="tooltip"
                          data-placement="top"
                          title=""
                          href="#"
                          data-original-title="Gurdeep Osahan"
                          ><img
                            alt="Generic placeholder image"
                            src="http://bootdey.com/img/Content/avatar/avatar5.png"
                            class="total-like-user rounded-pill"
                        /></a>
                        <a
                          data-toggle="tooltip"
                          data-placement="top"
                          title=""
                          href="#"
                          data-original-title="Gurdeep Singh"
                          ><img
                            alt="Generic placeholder image"
                            src="http://bootdey.com/img/Content/avatar/avatar2.png"
                            class="total-like-user rounded-pill"
                        /></a>
                        <a
                          data-toggle="tooltip"
                          data-placement="top"
                          title=""
                          href="#"
                          data-original-title="Askbootstrap"
                          ><img
                            alt="Generic placeholder image"
                            src="http://bootdey.com/img/Content/avatar/avatar3.png"
                            class="total-like-user rounded-pill"
                        /></a>
                        <a
                          data-toggle="tooltip"
                          data-placement="top"
                          title=""
                          href="#"
                          data-original-title="Osahan"
                          ><img
                            alt="Generic placeholder image"
                            src="http://bootdey.com/img/Content/avatar/avatar4.png"
                            class="total-like-user rounded-pill"
                        /></a>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <hr />
           <% }); %>
           
            <hr />
            <a class="text-center w-100 d-block mt-4 font-weight-bold" href="#"
              >See All Reviews</a
            >
          </div>
          <div
            class="bg-white rounded shadow-sm p-4 mb-5 rating-review-select-page"
          >
            <h5 class="mb-4">Leave Comment</h5>
            <p class="mb-2">Rate the Place</p>
            <div class="mb-4">
              <span class="star-rating">
                <a href="#"><i class="icofont-ui-rating icofont-2x"></i></a>
                <a href="#"><i class="icofont-ui-rating icofont-2x"></i></a>
                <a href="#"><i class="icofont-ui-rating icofont-2x"></i></a>
                <a href="#"><i class="icofont-ui-rating icofont-2x"></i></a>
                <a href="#"><i class="icofont-ui-rating icofont-2x"></i></a>
              </span>
            </div>
            <% console.log(company,review) %>
            <form action="/review" method="post" id="review">
              <div class="form-group">
                <select name="ratings" class="form-select">
                  <option value="5">5⭐</option>
                  <option value="4">4⭐</option>
                  <option value="3">3⭐</option>
                  <option value="2">2⭐</option>
                  <option value="1">1⭐</option>
                </select>
              </div>
              <div class="form-group">
                <input type="text" class="hidden" name="companyId" style="display: none;" value="<%= company._id %>">
                <label>Your Comment</label>
                <textarea class="form-control" id="comment" name="reviews"></textarea>
              </div>
              <div class="form-group">
                <button class="btn btn-primary btn-sm" type="submit">
                  Submit Comment
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", async function () {
    let data = await fetch("/chartdata/<%= company._id %>");
    let json = await data.json();

    const label = json.data.map((item) => item._id);
    const count = json.data.map((item) => item.count);

    const bar = document.getElementById("bar");
    const pie = document.getElementById("pie");

    let paymentLabel = [];

    new Chart(bar, {
      type: "bar",
      data: {
        labels: ["5⭐","4⭐","3⭐","2⭐","1⭐"],
        datasets: [
          {
            label: "# of ratings",
            data: [...count],
            borderWidth: 1,
          },
        ],
      },
      options: {
        scales: {
          y: {
            beginAtZero: true,
          },
        },
      },
    });
    // new Chart(pie, {
    //   type: "pie",
    //   data: {
    //     labels: [...label],
    //     datasets: [
    //       {
    //         label: "# of payment",
    //         data: [...count],
    //         borderWidth: 1,
    //       },
    //     ],
    //   },
    //   options: {
    //     scales: {
    //       y: {
    //         beginAtZero: true,
    //       },
    //     },
    //   },
    // });
  });
</script>

<%- include("partials/footer") %>
